* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #151515;
    font-family: sans-serif;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    border-radius: 4px;
    color: white;
    padding-top: 10px;
}

h1 {
    font-size: 64px;
}

span {
    display: inline-block;
}

h1:last-of-type {
    margin-top: 25px;
    margin-bottom: 45px;
}

img {
    width: 90px;
    margin: -10px;
    top: 20px;
    position: relative;
}

location, temperature, weather {
    font-size: 24px;
    margin-bottom: 15px;
}

location {
    display: block;
}

temperature {
    display: inline-block;
}

weather {
    display: block;
    margin-bottom: 50px;
}

.icon {
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
    background-size: cover;
    margin-top: -20px;
    margin-bottom: 35px;
}

.icon-loading {
    background-image: url('images/loading.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-sun {
    background-image: url('images/sun.svg');
    animation: spin 10s linear infinite;
}

.icon-cloud, .icon-drizzle, .icon-rain, .icon-storm, .icon-snow {
    background-image: url('images/cloud.svg');
}

.icon-loading > cover, .icon-sun > cover, .icon-cloud > cover {
    display: none;
}

@keyframes cloud-shift {
    0%    { opacity: 0;  margin-left: 15px; }
    50%   { opacity: 1;  }
    100%  { opacity: 0;  margin-left: -50px; }

}

.icon-cloud::after, .icon-drizzle::before, 
.icon-drizzle::after, .icon-rain::after, 
.icon-storm::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon-cloud::after {
    background-image: url('images/cloud.svg');
    animation: cloud-shift 5s linear infinite;
}

.icon-drizzle::before {
    width: 40px;
    height: 40px;
    background-image: url('images/sun.svg');
    animation: spin 10s linear infinite;
}

.icon-drizzle::after, .icon-rain::after {
    background-image: url('images/raindrops.svg');
    margin-top: 48px;
    margin-left: -15px;
    background-position-x: -2px;
}

.icon-storm::after {
    background-image: url('images/lightning.svg');
    margin-top: 48px;
    margin-left: -15px;
    background-position-x: -2px;
    background-size: contain;
    background-position: 5px 0px;
    background-repeat: no-repeat;
}

@keyframes fade {
    0% { color: #444; }
    50% { color: white; }
    100% { color: #444; }
}

.icon-snow::before, .icon-snow::after , 
.icon-snow > cover::before, .icon-snow > cover::after {
    content: "\2744";
    position: absolute;
}

.icon-snow::before {
    animation: 10s linear infinite;
    font-size: 8px;
    margin: 48px 0 0 -8px;
    z-index: 1;
    animation-name: spin, fade;
    line-height: 8px;
}

.icon-snow::after {
    font-size: 10px;
    margin: 50px 0 0 1px;
    animation: 10s infinite reverse;
    animation-name: spin, fade;
    line-height: 10px;
}

cover {
    width: 30px;
    height: 10px;
    position: absolute;
    background-color: #151515;
    margin: 55px 0 0 -15px;
}

.icon-snow > cover::before {
    font-size: 12px;
    margin: 2px 0 0 -11px;
    animation: 10s infinite reverse;
    animation-name: spin, fade;
    line-height: 12px;
}

.icon-snow > cover::after {
    font-size: 16px;
    margin: 5px 0 0 -1px;
    animation: 10s linear infinite;
    animation-name: spin, fade;
    line-height: 16px;
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

button {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: inherit;
    font: inherit;
    font-size: 24px;
    color: #4c67ce;
}

button:hover {
    color: #2c47be;
}

footer {
    font-size: 14px;
    color: white;
    max-width: 400px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #4c67ce;
}

a:visited {
    color: #4c67ce;
}

a:hover {
    text-decoration: underline;
    color: #2c47be;
}

a:focus {
    color: #4c67ce;
    text-decoration: none;
}