* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #151515;
    font-family: sans-serif;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    border-radius: 4px;
    color: white;
}

h1 {
    font-size: 64px;
}

h1:last-of-type {
    margin-top: 25px;
    margin-bottom: 45px;
}

h1 > img {
    width: 90px;
    margin: -10px;
    top: 20px;
    position: relative;
}

location, temperature, weather {
    font-size: 24px;
    margin-bottom: 15px;
}

location {
    display: block;
}

temperature {
    display: inline-block;
}

weather {
    display: block;
    margin-bottom: 50px;
}

.icon {
    width: 65px;
    height: 65px;
    margin: auto;
    display: block;
    background-size: cover;
}

.icon-sun {
    background-image: url('sun.svg');
    animation: spin 10s linear infinite;
}

.icon-cloud, .icon-drizzle, .icon-rain, .icon-storm, .icon-snow {
    background-image: url('cloud.svg');
}

@keyframes cloud-shift {
    0%    { opacity: 0;  margin-left: 15px; }
    50%   { opacity: 1;  }
    100%  { opacity: 0;  margin-left: -50px; }

}

.icon-cloud::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('cloud.svg');
    animation: cloud-shift 5s linear infinite;
}

.icon-drizzle::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url('sun.svg');
    animation: spin 10s linear infinite;
}

.icon-drizzle::after, .icon-rain::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('raindrops.svg');
    margin-top: 35px;
    margin-left: -16px;
    background-color: #151515;
    background-position-x: -2px;
}

.icon-storm::after, .icon-snow::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('lightning.svg');
    margin-top: 35px;
    margin-left: -16px;
    background-color: #151515;
    background-position-x: -2px;
    background-size: contain;
    background-position: 5px 0px;
    background-repeat: no-repeat;
}
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

img {
    width: 70px;
    margin-bottom: 40px;
}

.sunny {
    width: 70px;
    animation: spin 8s linear infinite;
}

.cloudy {
    width: 120px;
}

button {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: inherit;
    font: inherit;
    font-size: 24px;
    color: #4c67ce;
}

button:hover {
    color: #2c47be;
}

button::after {
    content: "\2744";
    animation: spin 8s linear infinite;
}

footer {
    font-size: 14px;
    color: white;
}

a {
    text-decoration: none;
    color: #4c67ce;
}

a:visited {
    color: #4c67ce;
}

a:hover {
    text-decoration: underline;
    color: #2c47be;
}

a:focus {
    color: #4c67ce;
    text-decoration: none;
}

.sun {
    width: 30px;
    height: 30px;
    border: 4px white solid;
    display: block;
    border-radius: 50%;
    background-color: #151515;
    z-index: 2;
    margin: auto;
    position: relative;
}

.mask {
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 50%;
    background-color: #151515;
    margin: auto;
    position: relative;
    top: -34px;
    left: 0px;
    z-index: 1;
}

@keyframes test {
    to {transform: rotate(360deg);}
}

.rays-rotater {
    animation: test 8s linear infinite;
    position: relative;
    margin: auto;
    top: -73px;
    height: 40px;
    width: 40px;
}

.rays {
    width: 80px;
    border: 2px white solid;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 20px;
    left: -20px;
}

.ray1 {
    top: 18px;
}

.ray2 {
    top: 14px;
    transform: rotate(120deg);
}

.ray3 {
    top: 10px;
    transform: rotate(60deg);
}